<% layout("/layouts/boilerPlate") %>

<div class="row">
    <div class="alert alert-danger offset-3 col-6 " role="alert">
        
        <h4 class="alert-heading"><%= message %></h4>
    </div>
</div>